<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :homeroom %><br>
    <%= f.select :homeroom, [ 'EY1T', 'EY2/3M', '1L', '2K', '3J', '4G', '4P', '5IEP', '5J', '5L', '6IEP', '6M', '6S', '7D', '7IEP', '7U', '8C', '8D', '8IEP', '9E', '9IEP', '9M', '10E', '10R', '11G', '11H', '11R', '12D', '12J', '12M' ], :prompt => 'Select Homeroom' %>
  </div>
  <div class="field">
    <%= f.label :is_boarding %><br>
    <%= f.check_box :is_boarding %>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.select :grade, [ 'EY1', 'EY2', 'EY3', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10' '11', '12' ], :prompt => 'Select Grade' %>
  </div>
  <div class="field">
    <%= f.label :birthdate %><br>
    <%= f.date_select(:birthdate, start_year: 1995, end_year: 2015 ) %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number, placeholder: "+66 (0) 53 301 500" %>
  </div>
  <div class="field">
    <%= f.label :health_details %><br>
    <%= f.text_area :health_details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
