<p id="notice"><%= notice %></p>

<h1>Listing Activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Instructor</th>
      <th>Min students</th>
      <th>Max students</th>
      <th>Min cmac age</th>
      <th>Max cmac age</th>
      <th>Min grade</th>
      <th>Max grade</th>
      <th>Cost</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.instructor %></td>
        <td><%= activity.min_students %></td>
        <td><%= activity.max_students %></td>
        <td><%= activity.min_cmac_age %></td>
        <td><%= activity.max_cmac_age %></td>
        <td><%= activity.min_grade %></td>
        <td><%= activity.max_grade %></td>
        <td><%= activity.cost %></td>
        <td><%= activity.description %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
