<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @activity.instructor %>
</p>

<p>
  <strong>Min students:</strong>
  <%= @activity.min_students %>
</p>

<p>
  <strong>Max students:</strong>
  <%= @activity.max_students %>
</p>

<p>
  <strong>Min cmac age:</strong>
  <%= @activity.min_cmac_age %>
</p>

<p>
  <strong>Max cmac age:</strong>
  <%= @activity.max_cmac_age %>
</p>

<p>
  <strong>Min grade:</strong>
  <%= @activity.min_grade %>
</p>

<p>
  <strong>Max grade:</strong>
  <%= @activity.max_grade %>
</p>

<p>
  <strong>Cost Per Term:</strong>
  <%= @activity.cost %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
